body{
    width: 100%;
    height: 100%;
    margin: auto;
}
header {
    width: 380px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

header h1{
    font-size: bold;
    font-size: 36px;
}

header #newgamebutton{
    display: block;
    width: 25%;
    height: 30px;
    line-height: 30px;
    margin: 20px auto;
    background-color: navajowhite;
    color: mediumvioletred;
    border-radius: 10px;
    text-decoration: none;
}

header #newgamebutton:hover{
    background-color: mediumturquoise;
}

.grid-cell{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background-color: #ccc0b3;
    position: absolute;
}

#grid-container{
    margin: 30px auto;
    width: 330px;
    height: 330px;
    padding: 10px;
    background-color: #bbada0;
    border-radius: 10px;
    position: relative;
}

.number-cell{
    border-radius: 6px;
    font-size:16px;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    position: absolute;
}